section {
  margin: 40px auto;
  max-width: 800px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #262626;
}

.profile-section {
  display: flex;
  margin-top: 40px;
  padding-left: 40px;
  gap: 36px;
}

.profile-img {
  width: 200px;
  height: 200px;
}
