<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ writing.id if writing else '새 글 작성' }}</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/writing.css') }}"
    />
  </head>

  <body>
    <p style="text-align: right">
      <a href="/">main</a>
    </p>

    <div class="writing">
      {% if writing %}
      <!-- 작성된 글을 보여주는 부분 -->
      <span>
        <h3 style="display: inline-block; margin-right: 40px">
          {{ writing.id }}'s OOTD
        </h3>
      </span>
      <span>
        <h4 style="float: right">
          <span>{{ writing.weather }}</span>&nbsp;&nbsp;<span
            >{{ writing.date }}</span
          >&nbsp;&nbsp;<span>{{ writing.time }}</span>
        </h4>
      </span>

      <p>{{ writing.content }}</p>

      {% if writing.image_url %}
      <img
        src="{{ url_for('static', filename='uploads/' + writing.image_url.split('/')[-1]) }}"
        alt="게시글 이미지"
        width="500"
      />
      {% endif %}

      <p>
        <strong>tag:</strong>
        {% for tag in writing.get_tags() %}
          <span>#{{ tag }} </span>
        {% endfor %}
      </p>

      <br /><br />
      <h3>Shout out to {{ writing.id }}'s OOTD</h3>
      <form action="/post/{{ writing.id }}/comment" method="POST">
        <textarea name="content" required></textarea><br />
        <button type="submit">comment</button>
      </form>

      <ul>
        {% for comment in writing.comments %}
        <li>{{ comment.content }}</li>
        {% endfor %}
      </ul>

      {% else %}



      <!-- 새 글 작성 폼을 보여주는 부분 -->
      <h1>Make My OOTD</h1>
        
        <br />

    <!-- 날씨 정보 표시 -->
      <div class="weather-info">
        <span>현재 날씨: {{ weather_info['description'] }}</span>&nbsp;
        <span>온도: {{ weather_info['temperature'] }}°C</span>&nbsp;
        <span>습도: {{ weather_info['humidity'] }}%</span>&nbsp;
        <span>바람: {{ weather_info['wind'] }}m/s</span>&nbsp;
        <span>위치: {{ weather_info['city'] }}</span>
      </div>
        
      <br />
      <form method="POST" enctype="multipart/form-data">
        <label for="content">content</label><br />
        <textarea id="content" name="content" required></textarea><br /><br />

        <label for="image_url">image</label><br />
        <input
          type="file"
          id="image_url"
          name="image_url"
          
        /><br /><br />

        <label for="tags">tag</label><br />
        <input type="text" id="tags" name="tags" placeholder="태그를 입력하세요"/><br /><br />

        <button type="submit" style="text-align: center">save</button>
      </form>
      {% endif %}
    </div>

</html>
