<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{writing.id if writing.id else 'OOTD'}}님의 OOTD</title>
  </head>

  <body>
    <p style="text-align: right;"><a href="/writing/create">새 글 추가</a></p>

    <div class="writing">
      <span>
        <h2 style="display: inline-block; margin-right: 40px;">{{writing.id}}'s OOTD</h2>
      </span>
      <span>
        <h4 style="display: inline-block; float: right;">
          <span>{{writing.weather}}</span><span>{{writing.date}}</span><span>{{writing.time}}</span>
        </h4>
      </span>

      <p>{{writing.content}}</p>

      {% if writing.image_url %}
        <img src="{{writing.image_url}}" alt="게시글 이미지" width="500" />
      {% end if %}
      <br><br>

      <!--태그 입력창-->
      <form action="/post/{{writing.id}}/tag" method="POST">
        <label for="tag">태그 입력:</label>
        <input type="text" name="tag" placeholder="태그를 입력하세요" required /><br /><br />
        <button type="submit">태그 추가</button>
      </form>

      <!-- 태그 표시 부분 -->
      <p><strong>태그:</strong>
        {% for tag in writing.tags %}
          <span>#{{tag}} </span>
        {% endfor %}
      </p>

      <br><br>
      <!--댓글 입력창-->
      <h3>shout out to {{writing.id}}'s OOTD</h3>
      <form action="/post/{{writing.id}}/comment" method="POST">
        <textarea name="content" required></textarea><br />
        <button type="submit">댓글 작성</button>
      </form>

      <!--댓글 표시 부분-->
      <ul>
        {% for comment in writing.comments %}
          <li>{{comment.content}}</li>
        {% endfor %}
      </ul>

      <a href="/writing/update/{{writing.id}}">수정</a>
      <a href="/writing/delete/{{writing.id}}">삭제</a>

      <a href="/">메인 페이지로</a>
    </div>
  </body>
</html>

